pdf/taste/tags
pdf/taste/.tags
pdf/taste/*.tif
pdf/test/*.pdf
pdf/*.pdf
pdf/taste/public/images/*
pdf/taste/public/dealed_images/*
pdf/taste/*.pdf
pdf/taste/*.md
pdf/taste/*.txt
pdf/taste/models/connect_mysql.rb
