taste/tags
taste/.tags
taste/*.tif
test/*.pdf
*.pdf
taste/public/images/*
taste/public/dealed_images/*
taste/*.pdf
taste/*.md
taste/*.txt
taste/models/connect_mysql.rb
taste/models/connect_remote_mysql.rb
data/*
A8_icon_little/*
taste/public/uploads/*
taste/config/initializers/carrierwave.rb
